/* 
* background do meio: #242424
* background da lateral: #181818
* background do bottom: #404040
*/

*, html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    --midle-color: #242424;
    --side-color: #181818;
    --bottom-color: #404040;
    --letter-color: #B3B3B3;
}

body {
    font-family: 'Montserrat';
    font-size: 14px;
    color: var(--letter-color);
}

.container-layout {
    display: grid;
    grid-template-columns: minmax(150px, 200px) minmax(600px, auto) minmax(200px, 300px);
    grid-template-rows: auto minmax(75px, 100px);
}

footer {
    grid-column: 1 / 4;
}
sidebar {
    background-color: var(--side-color);
}
section {
    background-color: var(--midle-color);
}
footer {
    background-color: var(--bottom-color);
}